header.header-wrapper.w3-display-container
                    header.header.shadow-bottom
                        div.w3-display-middle
                            h1.title-text #{title}
                        div.navbar.w3-display-bottommiddle
                            ul.navbar
                                a.btn(href='/')
                                    li.navbar-items Home
                                a.btn(href="/about")
                                    li.navbar-items About
                                a.btn(href="#")
                                    li.navbar-items Contact us
                                a.btn(href="/media")
                                    li.navbar-items Media
                        div.avatar-img.left-align-relative
                            div.avatar-background.avatar.display-contents-center
                                img.avatar( src="/images/avatar.jpg" alt="avatar")