doctype html
html 
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        meta(name="viewport" content="width=device-width", initial-scale="1")
        block head
    body
        main
            include includes/header.pug
                    
            block content

            include includes/footer.pug