extends default

block content
    div.container.display-contents-center
        div.container-items.shadow-sides 
            div.container-item-text
                h2.body-header
                    | Home page Text
                p.body-text
                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac urna felis. Etiam aliquet erat vel neque pharetra, quis finibus nibh blandit. Etiam vitae ultrices orci. Vivamus libero tortor, feugiat vel risus in, posuere hendrerit nunc. Donec iaculis, odio vel viverra placerat, libero orci vestibulum sem, commodo maximus eros est sit amet mauris. Nulla scelerisque cursus mauris, ac pharetra ligula finibus eu. Nunc nec est massa. In sit amet porttitor magna. Pellentesque id est vitae massa tincidunt pharetra.
                p.body-text
                    |Vivamus venenatis nunc tristique nulla pellentesque, vitae sollicitudin nulla pharetra. Nullam eget tincidunt mi. Vestibulum quis justo vitae nisl facilisis tincidunt non id neque. Curabitur vel egestas erat, quis iaculis nisi. Donec vitae diam nunc. Aliquam commodo nulla eget risus malesuada suscipit. Fusce consectetur dignissim ex, ac pellentesque arcu suscipit molestie. Etiam sit amet ornare arcu. Donec sit amet ligula imperdiet, interdum sapien vitae, scelerisque arcu. Sed id cursus diam. Sed consequat vehicula lacinia.
                p.body-text
                    |Ut et vehicula massa. Fusce ac ante non leo vestibulum interdum. Nam gravida quam in ipsum eleifend posuere a ac velit. Etiam urna nibh, tempor sed eleifend dignissim, euismod nec tortor. Quisque malesuada elementum diam sed ullamcorper. Ut aliquam eleifend sapien non porta. Nulla non leo turpis. Nullam sollicitudin dictum fermentum. Integer a erat eu arcu molestie ultrices at in diam. Quisque semper, orci quis pulvinar finibus, ipsum nisi ullamcorper orci, eu placerat augue quam sit amet quam.
                p.body-text
                    |Integer at ligula vel leo molestie sollicitudin. Ut tempus ipsum eget nulla pulvinar luctus. Morbi sed interdum felis. Proin convallis tincidunt placerat. Quisque cursus, risus eget rhoncus imperdiet, nunc augue elementum mi, nec posuere leo neque ac ligula. Sed leo diam, finibus quis iaculis et, vulputate tempor eros. Praesent id tellus ipsum. Morbi eget velit sapien.
                p.body-text
                    |Praesent suscipit dolor ut consequat fringilla. Nulla a fermentum justo. Mauris ac ornare lectus, quis gravida nulla. Morbi at erat eu sem rhoncus tempus. Pellentesque pharetra malesuada nulla a consequat. Pellentesque a augue a nisl gravida volutpat eu porttitor augue. Vestibulum quis dui sit amet orci efficitur interdum. Nam quis libero dignissim, rutrum mi vel, commodo dui. Phasellus eu quam leo. Pellentesque tempus dolor ac ex faucibus vulputate. Proin pulvinar et tellus eu venenatis. Nullam ut orci eget dui mollis accumsan.