extends default

block head
    link(rel='stylesheet', href='/css/home.css')
    link(rel='stylesheet', href='/css/media.css')

block content
    div.container.display-contents-center
        div.container-items.shadow-sides
            div.contianer-pictures
                each pic in pictures
                    div.pic
                        div.pic-div
                            img.pic-img(src=`/images/Media/${pic.imgSrc}` alt="home image")
                            a.pic-link(href=`/media/${pic.id}`)
                                | View Image