extends default

block head
    link(rel='stylesheet', href='/css/home.css')
    link(rel='stylesheet', href='/css/media.css')

block content
    div.container.display-contents-center
        div.container-items.shadow-sides
            div.contianer-picture.display-contents-center
                div.image
                    img.img-single(src=`/images/Media/${image.imgSrc}` alt="placeholder")
                    p.block #{image.info}