/* media page styling */

.display-contents-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-pictures {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    
}

.image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.pic {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    
}





.pic-img {
    height: 200px;
    width: 300px;
}

.pic-link {
    display: block;
    text-align: center;
}

.img-single {
    height: 400px;
    width: 600px;
}

.block {
    text-align: center;
}